.git
.DS_Store
.venv
.venv-*
__pycache__
*.pyc
*.pyo
*.pyd

wandb
docs
readme-assets
clash_royale_rl.egg-info
.vscode
.tmp

saved-runs/*
!saved-runs/run-30.2__env-V2__full-training__attention-model__minibatch-size-256_0528-085514
saved-runs/run-30.2__env-V2__full-training__attention-model__minibatch-size-256_0528-085514/*
!saved-runs/run-30.2__env-V2__full-training__attention-model__minibatch-size-256_0528-085514/checkpoints
!saved-runs/run-30.2__env-V2__full-training__attention-model__minibatch-size-256_0528-085514/checkpoints/*.pt
!saved-runs/run-31__transformer-model_0531-020523
saved-runs/run-31__transformer-model_0531-020523/*
!saved-runs/run-31__transformer-model_0531-020523/checkpoints
!saved-runs/run-31__transformer-model_0531-020523/checkpoints/*.pt
